*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: bisque;
  width: 100%;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%
}

.box{
  display: flex;
  place-content: center;
  place-items: center;
  width: 200px;
  height: 200px;
  background-color: rgb(50, 50, 112);
  color: white;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: box;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  /* animation-delay: 1s; */
 /*  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation-fill-mode: forwards;
  animation-play-state: running;
}
  .btn{
  padding: 10px 20px;
  border: none;
  background-color: rgb(112, 83, 50);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 1.2s ease-in-out, transform 1.2s ease-in-out;
}

.btn:hover{
  background-color: rgb(64, 48, 42);
  transform: scale(1.2);
}

@keyframes box {
  0%{
    transform: translateX(0);
    background-color: rgb(50, 50, 112);
  }
  25%{
    transform: translateX(100px);
  }
  50%{
    transform: translateX(200px);
    background-color: rgb(112, 83, 50);
  }
  75%{
    transform: translateX(300px);
  }
  100%{
    transform: translateX(400px);
    background-color: rgb(112, 50, 50);
  }
}